/*NAVBAR TOP*/

.navbar{
    background-color: darkgrey !important;
    border-radius: 0;
    font-size: larger;
    border: 0;
    margin-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover {
    color:  #383838;
}

#navbarDropdown{
    margin-left: 50px;
}

#navbarNavAltMarkup > ul > div > div > a:nth-child(1):active, #navbarNavAltMarkup > ul > div > div > a:nth-child(2):active,
#navbarNavAltMarkup > ul > div > div > a:nth-child(1):hover, #navbarNavAltMarkup > ul > div > div > a:nth-child(2):hover{
    background-color: darkgrey;
}

.nav-item {
    text-align: right;
}

/* Menu */
a.nav-item.nav-link{
    margin-right: 15px;
}

.nav_button{
    background-color: #535353 !important;
    color: #ffffff !important;
    margin: 4px;
}

.nav_button:hover, .nav_button:active {
    background-color: #3b3b3b !important;
}

#photoalbum_logo{
    color: #383838;
    font-weight: 900;
    font-size: x-large;
}

/* NAV RIGHT */
#right-navbar{
    padding-right: 20px;
}

#sidebar-wrapper > div > li, body > div > div.list-group.list-group-flush > li{
    background-color: dimgrey;
    color: white;
    font-size: large;
}

#sidebar-wrapper > div > a, body > div > div.list-group.list-group-flush > a,
#sidebar-wrapper > div > a, body > div > div.list-group.list-group-flush > p,
#sidebar-wrapper > div > a, body > div > div.list-group.list-group-flush > form{
    background-color: #e3e3e3;
    color: #4F4350;
}

/*BODY*/

h1 {
    color: #5d5d5d;
    font-size: large;
    padding: 10px 0 40px 0;
    margin: 0;
    font-weight: bold;
}

h2 {
    color: dimgray;
    font-size: large;
}

body{
    background: #fffcff;
    font-family: 'Merriweather', serif;
    color: black;
}

.container-fluid{
    padding: 0 40px 0 40px;
    text-align: center;
}

.myButton{
    background-color: dimgrey;
    color: white;
}

.myButton:hover{
    background-color: #383838;
    color: white;
}

.photo-description{
    color: #383838;
    font-style: italic;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
}

.signature{
    text-align: left;
    margin: 0;
}

