{% extends "account_settings_tmp.html" %}
{% load crispy_forms_tags %}


{% block myform %}
        <div class="container-fluid col-md-7">
            <h1>Delete account</h1></br>
            <p>{{ request.user.username }}, are you sure? </br>This is irreversible!</p></br></br>
            <form action="" method="post">
                {% csrf_token %}
                <p>I am double checkin again.</p>
                {{ form | crispy }}
                <a href="{% url 'homepage' %}" class="btn btn-info myButton ">No, I don't wanna delete</a>
                <input type="submit" value="Yes, I wanna delete" class="btn btn-info myButton"/> </input>
            </form>
        </div>
{% endblock %}
