{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
        <div class="container-fluid col-md-7">
            <h1>Delete photo</h1></br>
            <p>Do you confirm deletion?</p></br></br>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <a href="{% url 'view_photos' %}" class="btn btn-info myButton ">No, I don't wanna delete</a>
                <input type="submit" value="Yes, I wanna delete" class="btn btn-info myButton"/> </input>
            </form>
        </div>
{% endblock %}
