{% extends "base.html" %}

{% block title %} My photos {% endblock %}

{% block content %}

    <div class="container-fluid col-md-12">
        <h1>My photos</h1>
        <div class="row">
            {% for photo in photos %}
                <ul class="col">
                    <a href="{% url 'one_photo' photo.pk %}" ><img src="{{ photo.path.url }}" height="250"></a></p>
                    <p>Likes: {{ photo.likes.count }}</p>
                    <p>Comments: {{ photo.comment_set.count }}</p>
                    <p>{% if user in photo.likes.all %}
                        You like this photo
                        <a href="{% url 'unlike' pk=photo.id %}">Unlike it</a>
                    {% else %}
                        <a href="{% url 'like' pk=photo.id %}">Like it</a>
                    {% endif %}</p>
                </ul>
                {% if forloop.counter|divisibleby:3 %}

                    </div><!-- close existing row and open another one-->
                    <div class="row">
                {% endif %}
            {% empty %}
                No photos so far
            {% endfor %}
            </div>
    </div>





{% endblock %}