{% extends "base.html" %}

{% block title %} My photos {% endblock %}

{% block content %}

    <div class="container-fluid col-md-12">
        <h1>My photos</h1>
        <div class="row">
            {% for photo in photos %}
                <ul class="col">
                    <a href="{% url 'one_photo' photo.pk %}" ><img src="{{ photo.path.url }}" height="250"></a></p>
                    <p>Likes: ({{ photo.likes.count }})</p>
                    {% if photo.comment_set.count == 0 %}
                        <p>Comments: ({{ photo.comment_set.count }})</p>
                    {% else %}
                        <a href="{% url 'one_photo' photo.pk %}">Comments: ({{ photo.comment_set.count }})</a>
                    {% endif %}
                </ul>
                {% if forloop.counter|divisibleby:3 %}
                    </div><!-- closing one div, opening a new one-->
                    <div class="row">
                {% endif %}
            {% empty %}
                No photos so far
            {% endfor %}
            </div>
    </div>





{% endblock %}